.wp-block-roduza-helper-mosaic-gallery {
    padding: 1em;
    border: 1px dashed #ccc;
    .business-hours-preview-list {
        list-style: none;
        padding-left: 0;
        font-size: 0.9em;
        li {
            margin-bottom: 0.3em;
        }
    }
    .components-placeholder {
        min-height: 80px;
    }
}